""" 
Create a file in root directory with name ".env" and paste the following contents and fill up your values. The program will
handle it automatically! Also if you are using CTRL+A, please remove this multiline comment
"""
# FLASK SECRET KEY (protection from Cross-Site Request Forgery)
FLASK_SECRET_KEY = '' 
# To get FLASK_SECRET_KEY, put this in terminal and run <python -c 'import secrets; print(secrets.token_hex(32))'>


# MySQL credentials
host = ''
user = ''
password = ''
database = 'kisan_mitr'

GEMINI_API_KEY = YOUR_API_KEY <Get you API KEY from here https://aistudio.google.com/>