""" 
Create a file in root directory with name ".env" and paste the following contents and fill up your values. The program will
handle it automatically!
"""
# MySQL credentials
host = ''
user = ''
password = ''