* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family:
      /* "Open Sans", */ "Hammersmith One", sans-serif;
}

::selection {
  background-color: #54b03f;
}

/* html {
    min-height: 150vh;
    } */

body {
  background: #d9e1e3;
  /* padding: 0.5vw; */
}

#body-div {
  background-image: url("../uploads/frontend/kisan_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  /* border-radius: 0.2vw; */
}

a {
  text-decoration: none;
}

header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#floating-nav {
  /* padding: 1vw; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  min-height: 2vh;
  max-height: 5vh;
  padding: 1vw;
  border-radius: 0.5vw;
  position: fixed;
  z-index: 9999;
}

#navbar {
  background: #9ad64c;
  font-weight: bold;
}

#navbar #nav-left {
  width: 50%;
}

#navbar #nav-right {
  width: 50%;
}

#navbar #nav-right ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

#nav-right ul li {
  width: 50%;
  display: flex;
  justify-content: center;
}

#account-menu {
  position: relative;
}

.logout-dropdown {
  position: absolute;
  bottom: -4vh;
  background: white;
  width: inherit;
  display: none;
  /* justify-content: center; */
}

.logout-dropdown-show {
  display: flex;
  justify-content: center;
}

main {
  min-height: 100vh;
  height: 100vh;
  min-width: 100%;
}

#hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.heading {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.heading div span {
  display: inline-block;
  font-weight: bold;
  color: white;
  font-size: 7vw;
  mix-blend-mode: difference;
  background: transparent;
}

.heading p {
  color: white;
  /* text-shadow: -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000; */
}
