#body-div {
    background-image: url('../uploads/frontend/account_bg.jpg');
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login_signup-box {
    border: 1px solid white;
    width: 50%;
    border-radius: 10px;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    padding: 1vw;
}

.slider-bg {
    position: absolute;
    top: 1vw;
    bottom: 1vw;
    left: 8.5%;
    width: 35%;
    background: #d9e1e3aa;
    border-radius: 0.5vw;
    transition: left 0.5s ease;
    z-index: 0;
}

.form-div {
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.sign_up_box, .login_box {
    background: transparent;
    width: 70%;
    padding: 1vw;
    border-radius: 0.5vw;
}

#login_signup-box:has(.login_box:focus-within) .slider-bg{
    left: 57.5%
}

#nameofuser, #usernamec, .email, .password {
    display: flex;
    flex-direction: column;
}

.heading {
    color: white;
    font-size: 1vw;
    padding-bottom: 4vh;
    text-shadow: -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

.label-text {
    color: white;
    font-size: 0.9vw;
    text-shadow: -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

.input-field {
    padding-left: 0.1vw;
    width: 100%;
    height: 3vh;
    border: none;
    border-radius: 0.2vw;
}

.padding-bottom {
    padding-bottom: 1vw;
}

input:focus, input::selection {
    border: 1px solid #54b03f;
}

.input-field:focus {
    /* border: 1px solid #54b03f; */
    outline: #9ad64c;
}

.submit-form {
    width: 100%;
    background: #54b03f;
    color: white;
    border: none;
    height: 3vh;
    border-radius: 0.5vw;
    transition: 0.3s;
}

.submit-form:hover {
    background: #4da13a;
}

/* Glass-morphism */
.glass-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 2px 1px rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
}

.glass-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.glass-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}