{% extends 'index.html' %} 
{% block subtitle %} Login {% endblock %}
{% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/login.css') }}"
/>
{% endblock %} 
{% block navbar%} {% endblock %} {# Don't add anything in this #} 
{% block content %}
<div id="body-div">
  <div id="login_signup-box" class="glass-card">
    <div class="slider-bg"></div>
    <form action="" method="post" class="form-div">
      <div class="sign_up_box">
        <div class="heading">
            Sign-Up
        </div>
        <div id="name" class="padding-bottom">
          <label for="nameofuser" class="label-text">Name</label>
          <input
            type="text"
            name="signup_name"
            id="nameofuser"
            class="input-field"
            placeholder="Enter your full name"
            autocomplete = "name"
            required
          />
        </div>
        <div id="username" class="padding-bottom">
          <label for="usernamec" class="label-text">Username</label>
          <input
            type="text"
            name="signup_username"
            id="usernamec"
            class="input-field"
            placeholder="Choose a username"
            autocomplete = "username"
            required
          />
        </div>
        <div class="email padding-bottom">
          <label for="signup-email" class="label-text">Email</label>
          <input
            type="email"
            name="signup_email"
            id="signup-email"
            class="input-field"
            placeholder="Enter your email"
            autocomplete = "email"
            required
          />
        </div>
        <div class="password padding-bottom">
          <label for="signup-password" class="label-text">Password</label>
          <input
            type="password"
            name="signup_password"
            id="signup-password"
            class="input-field"
            placeholder="Choose a password"
            required
          />
        </div>
        <button type="submit" id="signUpSubmit" class="submit-form" name="form_type" value="signup_form">Sign Up</button>
      </div>
    </form>
    <form action="" method="post" class="form-div">
      <div class="login_box">
        <div class="heading">
            Log-in
        </div>
        <div class="email padding-bottom">
          <label for="login-email" class="label-text">Email</label>
          <input
            type="email"
            name="login_email"
            id="login-email"
            class="input-field"
            placeholder="Enter your email"
            autocomplete = "email"
            required
          />
        </div>
        <div class="password padding-bottom">
          <label for="login-password" class="label-text">Password</label>
          <input
            type="password"
            name="login_password"
            id="login-password"
            class="input-field"
            placeholder="Enter your password"
            required
          />
        </div>
        <button type="submit" class="submit-form" name="form_type" value="login_form">Log In</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
{% block jsscript %} {% endblock %}