{% extends "index.html" %} 
{% block subtitle %} Upload Image {% endblock subtitle %} 
{% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/upload.css') }}"
/>
{% endblock %} 
{% block content %}
<form action="" id="uploadForm" enctype="multipart/form-data" method="post">
  <div id="drag_n_drop_container">
    <div id="dragNdrop">
      <label for="fileInput" id="fileInputBox" style="cursor: pointer;">
        <div id="dndHeader">
          Drag and Drop your files here
          <p>or click to browse your files</p>
          <input 
            type="file" 
            name="fileInput" 
            id="fileInput" 
            accept="image/png, image/jpg, image/jpeg, image/webp" 
            style="display: none;"
          >
          <span id="filename">Selected File: None</span>
        </div> 
        <div id="filetype">
          <p>Supported file type: PNG, JPG, JPEG or WEBP</p>
          <span id="warning">Please select a file first</span>
        </div>
      </label>
    </div>
    <div id="upload">
      <button type="submit" id="uploadBtn">Submit</button>
      <button type="reset" id="clear">Clear</button>
    </div>
  </div>
</form>
{% endblock content %} 

{% block jsscript %} 
<script src="{{ url_for('static', filename='js/upload.js')}}"></script>
{% endblock jsscript %}